<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>TTL-Emulator</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form method="clock" enctype="text/plain">
                        <label for="cfreq">Frequency (ex: 1 for 1Hz, 1,000 for 1kHz)</label><br/>
                        <input type="number" id="cfreq" name="cfreq"><br/>
                        <label for="cwidth">Pulse Width (ex: 1 for 1μs, 100 for 1ms)</label><br/>
                        <input type="number" id="cwidth" name="cwidth"><br/><br/>
                        <button type="button" class="btn btn-success">Clock</button>
                    </form>
                </div>
                <div class="col-6">
                    <form method="random" enctype="text/plain">
                        <label for="rmin rmax">Average frequency (ex: min=1 max=10 for ~10Hz)</label><br/>
                        <input type="number" id="rmin" name="rmin"><br/>
                        <input type="number" id="rmax" name="rmax"><br/>
                        <label for="rwidth">Pulse Width (ex: 1 for 1μs, 100 for 1ms)</label><br/>
                        <input type="number" id="rwidth" name="rwidth"><br/>
                        <button type="button" class="btn btn-success">Random</button>
                    </form>
                </div>
            </div>
        </div>
        {% for messages in messages %}
            <div class="alert alert-dismissable {{ message.tags }}" role="alert">
                <div>{{ message | safe }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
